body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Ubuntu";
}
.wrapper-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header{
  padding: 0;
  margin: 0;
}
.spinner{
  margin-left: 1rem;
  margin-top: 5rem;
}
.card-container{
  display:inline-grid;
 display:inline-block;
 justify-content: center;
  margin:10px;
  box-shadow: 5px 10px 18px #888888;
  border-radius: 5px;
}
.card{
  padding: 8px;
  height: 460px;
 
}
.cat-container{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.category{
  padding: 5px;
  width: 230px;
  height: 40px;
  border-radius: 6px;
  font-size: 18px;
   color: #8e4e84; 
  border:1px solid #8e4e84;
  margin-right:10px;
  font-weight: bold;
  font-style: "Ubuntu";
}
.category:hover{
  cursor: pointer;
}
h1{
  color: #8e4e84;
  margin-top:30px ;
  
}

h2{
  color: goldenrod;
  margin-left: 60px;
}
/* pagination */
.pagin-btn{
  padding: 6px;
  font-size: 18px;
  border:none;
  background-color:#fff;
  color:#8e4e84;
  font-weight: bold;
  margin-top: 20px;
}
.pagin-btn:hover{
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .cat-container{
  align-items: center;
  gap:3px;
  }
  .category{
    width: 150px;
    font-size: 16px;
  }
  h2{
    margin: auto auto 8px auto;
  }
    
}